<!doctype html>
<html lang="en" ng-app="fireside.app">

<body>
<div class="well" ng-controller="MainController">
  {{config.baseUrl}}
</div>

<div class="well" ng-controller="CommentController">
  <form  class="form-inline">
    Your name: <input type="text" ng-model="username">
  </form>
  <div ng-cloak ng-repeat="comment in comments">
    <em>{{comment.from}}: </em>{{comment.comment}}
  </div><br />
  <form class="form-inline" ng-submit="addComment()">
    <input type="text" ng-model="comment" placeholder="Add Comment...">
    <button class="btn" type="submit">
      <i class="icon-reply"> Send</i>
    </button>
  </form>
</div>


    <script src="http://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
    <script src="../app.js"></script>
    <script src="../templates.js"></script>
    <script src="../controllers/mainController.js"></script>
    <script src="../controllers/commentController.js"></script>
</body>
</html>